@model ProjetoMercado.Models.Vendedor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeVendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDoCaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDoCaixa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VendedorId">Editar</a> |
    <a asp-action="Index">Volte pra lista</a>
</div>
